<!-- employee_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.user.username }}</td>
                <td>{{ employee.position_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
